<ion-content [fullscreen]="true">
  <ion-grid class="grilla">

    <ion-row class="filas">
      <ion-button expand="full" color="success" class="botonesPrincipales btnCosasLindas" [routerLink]="['/cosas-lindas']">
        <div>
          <ion-icon src="assets/casa1.svg" class="icono" slot="start"></ion-icon><br>
          <ion-label class="labelBotonCosasLindas">Cosas Lindas</ion-label>
        </div>

      </ion-button>
    </ion-row>

    <ion-row class="filas">

      <ion-button expand="full" color="danger" class="botonesPrincipales">
        <div>
          <ion-icon src="assets/casa2_outline.svg" class="icono"></ion-icon><br>
          <ion-label class="labelBotonCosasFeas">Cosas Feas</ion-label>
        </div>
      </ion-button>

    </ion-row>

  </ion-grid>
</ion-content>